// Variables
$github-image-location: "https://raw.githubusercontent.com/wldh-g/postech-sso-dark/master/images/";
$bitbucket-image-location: "https://bitbucket.org/wldh/postech-sso-dark/raw/master/images/";
$gitlab-image-location: "https://gitlab.com/wldh/postech-sso-dark/-/raw/master/images/";

$bg: #111;
$bg-weak-lv1: #333;
$bg-weak-lv2: #444;
$bg-weak-lv3: #555;
$bg-weak-lv4: #666;

$fg: #eee;
$fg-weak-lv1: #ccc;
$fg-weak-lv2: #aaa;

$gold: #bba078;
$postech: #c61065;
$postech-dark: #970c4d;

$ts-time: .2s;
$ts-fn: ease-in-out;
$ts: #{$ts-time} #{$ts-fn};

// Functions
@function githubImg($name) {
  @return #{url(#{$github-image-location + $name})};
}

@function bitbucketImg($name) {
  @return #{url(#{$bitbucket-image-location + $name})};
}

@function gitlabImg($name) {
  @return #{url(#{$gitlab-image-location + $name})};
}

@function img($name) {
  @return githubImg($name), gitlabImg($name), bitbucketImg($name);
}
